In [1]:
import pandas as pd

df = pd.read_csv('mifkad2022.csv')

df.head()

,LocNameHeb,LocalityCode,StatArea,StatAreaCmb,pop_approx,change_pcnt,pop_density,religion,ReligionHeb,sexRatio,...,hh0_5_pcnt,hh18_24_pcnt,hh_MidatDatiyut,hh_MidatDatiyut_Name,Computer_avg,Vehicle0_pcnt,Vehicle2up_pcnt,Parking_pcnt,own_pcnt,rent_pcnt
0,כלל ארצי,NaN,NaN,NaN,9601720,26.7,NaN,1,יהודים,99.2,...,22.6,22.3,1.0,חילוני,1.8,26.4,30.3,62.9,59.3,31.6
1,אבו גוש,472.0,NaN,NaN,8660,39.8,6558.4,2,מוסלמים,114.3,...,26.4,37.5,3.0,דתי/ דתי מאוד,1.5,25.0,30.3,53.3,54.7,21.4
2,אבו סנאן,473.0,NaN,NaN,13900,13.4,6015.2,2,מוסלמים,108.0,...,25.2,30.8,2.0,מסורתי,1.7,18.0,38.9,76.4,78.4,4.9
3,אבו סנאן,473.0,1.0,1,5100,NaN,NaN,5,דרוזים,99.8,...,28.7,27.6,2.0,מסורתי,1.7,13.3,42.6,81.6,79.6,7.4
4,אבו סנאן,473.0,2.0,2,3250,NaN,NaN,2,מוסלמים,102.0,...,19.9,33.8,2.0,מסורתי,1.6,19.9,36.3,69.6,75.7,5.3

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3379 entries, 0 to 3378
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LocNameHeb            3379 non-null   object
 1   LocalityCode          3378 non-null   float64
 2   StatArea              2193 non-null   float64
 3   StatAreaCmb           2193 non-null   object
 4   pop_approx            3379 non-null   int64
 5   change_pcnt           1162 non-null   float64
 6   pop_density           1184 non-null   float64
 7   religion              3379 non-null   int64
 8   ReligionHeb           3379 non-null   object
 9   sexRatio              3379 non-null   float64
 10  inst_pcnt             338 non-null    float64
 11  Foreign_pcnt          1067 non-null   float64
 12  age0_19_pcnt          3379 non-null   float64
 13  age20_64_pcnt         3379 non-null   float64
 14  age65_pcnt            3365 non-null   float64
 15  DependencyRatio       3379 non-null   float64
 16  age_median            3379 non-null   float64
 17  m_age_median          3379 non-null   int64
 18  w_age_median          3379 non-null   int64
 19  married18_34_pcnt     3374 non-null   float64
 20  married45_54_pcnt     3377 non-null   float64
 21  j_isr_pcnt            2933 non-null   float64
 22  j_abr_pcnt            2933 non-null   float64
 23  aliya2002_pcnt        2911 non-null   float64
 24  aliya2010_pcnt        3070 non-null   float64
 25  israel_pcnt           2933 non-null   float64
 26  asia_pcnt             2932 non-null   float64
 27  africa_pcnt           2933 non-null   float64
 28  europe_pcnt           2933 non-null   float64
 29  america_pcnt          2921 non-null   float64
 30  shem_eretz1           2932 non-null   object
 31  MarriageAge_mdn       3376 non-null   float64
 32  m_MarriageAge_mdn     3376 non-null   float64
 33  w_MarriageAge_mdn     3376 non-null   float64
 34  ChldBorn_avg          3376 non-null   float64
 35  koshi5_pcnt           3367 non-null   float64
 36  koshi65_pcnt          3232 non-null   float64
 37  hh_total_approx       3376 non-null   float64
 38  size_avg              3376 non-null   float64
 39  hh0_5_pcnt            3374 non-null   float64
 40  hh18_24_pcnt          3368 non-null   float64
 41  hh_MidatDatiyut       3376 non-null   float64
 42  hh_MidatDatiyut_Name  3376 non-null   object
 43  Computer_avg          3376 non-null   float64
 44  Vehicle0_pcnt         3345 non-null   float64
 45  Vehicle2up_pcnt       3369 non-null   float64
 46  Parking_pcnt          3373 non-null   float64
 47  own_pcnt              3373 non-null   float64
 48  rent_pcnt             3360 non-null   float64
dtypes: float64(40), int64(4), object(5)
memory usage: 1.3+ MB

In [6]:
df = df[['LocNameHeb','LocalityCode','pop_approx','hh_total_approx','size_avg','religion','ReligionHeb','age20_64_pcnt','age_median']]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3379 entries, 0 to 3378
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LocNameHeb       3379 non-null   object
 1   LocalityCode     3378 non-null   float64
 2   pop_approx       3379 non-null   int64
 3   hh_total_approx  3376 non-null   float64
 4   size_avg         3376 non-null   float64
 5   religion         3379 non-null   int64
 6   ReligionHeb      3379 non-null   object
 7   age20_64_pcnt    3379 non-null   float64
 8   age_median       3379 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 237.7+ KB

In [7]:
df.head()

,LocNameHeb,LocalityCode,pop_approx,hh_total_approx,size_avg,religion,ReligionHeb,age20_64_pcnt,age_median
0,כלל ארצי,NaN,9601720,3053450.0,3.0,1,יהודים,52.2,30.0
1,אבו גוש,472.0,8660,2400.0,3.4,2,מוסלמים,60.7,28.0
2,אבו סנאן,473.0,13900,3930.0,3.5,2,מוסלמים,59.5,29.0
3,אבו סנאן,473.0,5100,1210.0,3.9,5,דרוזים,58.4,29.0
4,אבו סנאן,473.0,3250,860.0,3.3,2,מוסלמים,62.2,29.0